
    <footer class="border-top footer text-muted w-100 d-table" style="bottom:0px;height:40px; position:absolute;">
        <div class="container text-center d-table-cell align-middle">
            &copy; 2023 - BikeVibe - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
