

<div class="row ">
    <div class="col-lg-3 col-md-3 col-sm-4 mb-3">
        <div class="card shadow h-100 bg-info-subtle">
            <div class="card-header">Customer Count</div>
            <div class="card-body">
                <h1 class="card-title"><span id="custCount"></span><span class="fa-regular fa-person mr-0 float-end"></span></h1>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-4  mb-3">
        <div class="card shadow h-100 bg-warning-subtle">
            <div class="card-header">Subscribed to News Letter</div>
            <div class="card-body">
                <h1 class="card-title"><span id="subCustCount"></span><span class="fa-regular fa-newspaper mr-0 float-end"></span><span></span></h1>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-4 mb-3">
        <div class="card shadow h-100 bg-primary-subtle">
            <div class="card-header">With Memberships</div>
            <div class="card-body">
                <h1 class="card-title"><span id="custWithMembership"></span><span class="fa-regular fa-id-card-clip mr-0 float-end"></span></h1>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-4 mb-3">
        <div class="card shadow h-100 bg-danger-subtle">
            <div class="card-header">Without Memberships</div>
            <div class="card-body">
                <h1 class="card-title"><span id="custWoutMembership"></span><span class="fa-regular fa-id-card-clip mr-0 float-end"></span></h1>
            </div>
        </div>
    </div>
</div>

