<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-4 mb-3">
        <div class="card shadow h-100 bg-info-subtle">
            <div class="card-header">Total Rentals</div>
            <div class="card-body">
                <h1 class="card-title"><span id="totalRentals"></span><span class="fa-regular fa-person-biking mr-0 float-end"></span></h1>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-4 mb-3">
        <div class="card shadow h-100 bg-warning-subtle">
            <div class="card-header">Total Used Coupons</div>
            <div class="card-body">
                <h1 class="card-title"><span id="totalUsedCoupons"></span><span class="fa-regular fa-ticket mr-0 float-end"></span><span></span></h1>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-4 mb-3">
        <div class="card shadow h-100 bg-primary-subtle">
            <div class="card-header">Pending Returns</div>
            <div class="card-body">
                <h1 class="card-title"><span id="pendingReturns"></span><span class="fa-regular fa-arrow-rotate-left mr-0 float-end"></span></h1>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-4 mb-3">
        <div class="card shadow h-100 bg-danger-subtle">
            <div class="card-header">Overdue Returns</div>
            <div class="card-body">
                <h1 class="card-title"><span id="overdueReturns"></span><span class="fa-regular fa-people-pulling mr-0 float-end"></span></h1>
            </div>
        </div>
    </div>
</div>
